check_interval = 0
ssh_path = /usr/bin/ssh
crontab_runner = /bin/sh -c
ignore_strings[] = monitor.php

servers[] = root@mydomain.comroot,myuser,/etc/crontab

database[user] = root
database[pass] = pass
database[name] = crontab
database[host] = 127.0.0.1
